@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,300;0,500;1,600&family=Roboto+Slab:wght@100;300;500&display=swap');

:root {
    --background-color: rgba(200, 200, 200, 0.3);
    --submit-button-color: rgba(122,120,51, 0.4);
    --submit-button-color-hover: rgba(122,120,51, 0.6);
    --transition-delay: 300ms;
}


* {
    margin:0;
    padding: 0;
    font-family: 'Kanit', 'Roboto Slab', sans-serif;
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
    overflow: hidden;
}

.img {
    width: 38vw;
    height: 100vh;
    margin-bottom: -5px;
}

.header-text {
    text-indent: 40px;
    padding: 50px 30px;
    font-size: 30px;
    font-style: bold;
}

.header-text, .header-last-sentence {
    font-family: sans-serif;
}

.header-last-sentence {
    text-indent: 50px;
    font-size: 40px;
    font-style: italic;
    margin-top: 45px;
    margin-bottom: -30px;
}

.form {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    height: 50%;
    align-items: center;
}

.form > * {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: column;
}


.form input {
    border: 1px solid black;
    border-radius: 3px;
    padding-left: 5px;
    opacity: 0.7;
    background-color: white;
}
.form input:focus {
    background-color: rgba(0,0,0,1);
    color: white;
}

.form input::placeholder {
    opacity: 0.5;
    padding-left: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



::-webkit-input-placeholder{
    color: rgba(0,0,0,0.55);
}
::-moz-placeholder { 
    color: rgba(0,0,0,0.55);
}
:-ms-input-placeholder{ 
    color: rgba(0,0,0,0.55);
}
:-moz-placeholder { 
    color: rgba(0,0,0,0.55);
}
:focus::-webkit-input-placeholder{ 
    color: transparent;
}
:focus::-moz-placeholder{ 
    color: transparent;
}
:focus::-moz-placeholder{ 
    color: transparent;
}
:focus:-moz-placeholder { 
    color: transparent;
}


label {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 15px;
    font-style: italic;
}

button[type='submit'] {
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--submit-button-color);
    font-size: 20px;
    grid-column: span 2;
    margin-left: 250px;
    margin-right: 250px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    transition: all var(--transition-delay) 
}

button[type='submit']:hover {
    transform: scale(1.02);
    background-color: var(--submit-button-color-hover);
}